@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Dark theme colors as default */
  --background: #050505;
  --foreground: #FFFFFF; /* Primary text */
  --primary: #12FF8E;     /* Primary accent color */
  --secondary-text: #A7A7A7; /* Secondary text */

  /* Optional: Define light mode colors if you plan to support a theme switcher */
  /* @media (prefers-color-scheme: light) {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #10b981;
    --secondary-text: #gray-500;
  } */
}

body {
  color: var(--foreground);
  font-family: 'Satoshi', sans-serif;
  background: var(--background);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
